$width-break-small: 360px;
$width-break-large: 1024px;

$height-break-small: 300px;
$height-break-large: 600px;

@mixin swidth($media) {
  @if $media == small {
    @media only screen and (max-width: $width-break-small) {
      @content;
    }
  } @else if $media == medium {
    @media only screen and (min-width: $width-break-small + 1) and (max-width: $width-break-large - 1) {
      @content;
    }
  } @else if $media == large {
    @media only screen and (min-width: $width-break-large) {
      @content;
    }
  }
}

@mixin sheight($media) {
  @if $media == small {
    @media only screen and (max-height: $height-break-small) {
      @content;
    }
  } @else if $media == medium {
    @media only screen and (min-height: $height-break-small + 1) and (max-height: $height-break-large - 1) {
      @content;
    }
  } @else if $media == large {
    @media only screen and (min-height: $height-break-large) {
      @content;
    }
  }
}

html {
  height: 100%;
}

body {
  height: 100%;
  max-height: 100%;
  float: left;
  width: 100%;
}

#root {
  box-sizing: border-box;
  height: 100%;
}

/* full screen */

$offwhite: #eee;

$outer_border_width: 5px;
$inner_border_width: 2px;

.full-screen {
  margin: 0;
  box-sizing: border-box;
}

.root-el {
  display: flex;
  flex-flow: column;
  height: 100%;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

/* shared menu bar styling */
#menu-bar {
  height: 30px;
  @include sheight(medium) {
    height: 40px;
  }
  @include sheight(large) {
    height: 50px;
  }

  /* self flex props */
  flex: 0 1 auto;

  /* for children */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-right: 2%;
  @include swidth(medium) {
    padding-right: 5%;
  }
  @include swidth(large) {
    padding-right: 10%;
  }
}

/* button which switches between GUI/TUI */
.swap-interface {
  margin-left: auto; /* move button to switch interface to top right */
}

.unlinkify {
  color: black;
  text-decoration: none;

  &:hover {
    color: black;
  }
}

.swap-button {
  font-family: inherit;
  font-weight: inherit;

  a {
    border: 3px solid #000;
    padding: 3px 10px;
    border-radius: 4px;
    color: black;
    text-decoration: none;

    &:hover {
      background-color: black;
      color: $offwhite;
    }
  }
}

/* div that encompasses the rest of the page (not the menu bar) */
#window-body {
  // grow rest of page
  flex: 1 1 auto;
}

$green_bg: #00da00;

#gui {
  background-color: $green_bg;
  color: $offwhite;
  border: $outer_border_width solid black;

  #menu-bar {
    color: black;
    background-color: $offwhite;
    border-bottom: $inner_border_width solid black;
    align-items: center;
    padding-left: 2%;
    @include swidth(medium) {
      padding-left: 5%;
    }
    @include swidth(large) {
      padding-left: 10%;
    }

    .menu-toolbar-item {
      padding-left: 1%;
      padding-right: 1%;
      @include swidth(medium) {
        padding-left: 3%;
        padding-right: 3%;
      }
      @include swidth(large) {
        padding-left: 3%;
        padding-right: 3%;
      }

      &:hover {
        color: $offwhite;
        transition-delay: 0.05s;
        transition-duration: 0s;
        transition-timing-function: linear;
        background-color: black;
        cursor: pointer;
      }

      & * {
        position: relative;
        top: -1px;
        color: inherit;
      }
    }

    .menu-bar-item {
      height: 30px;
      line-height: 30px;
      @include sheight(medium) {
        height: 40px;
        line-height: 40px;
      }
      @include sheight(large) {
        height: 50px;
        line-height: 50px;
      }
      box-sizing: border-box;
    }
  }

  #window-body {
    padding-left: 2%;
    padding-right: 2%;
    padding: 1em;

    #desktop-body {
      height: 100%;
      width: 100%;
    }

    #what-do-now {
      color: black;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        margin: 1em;
      }
    }

    .home-icons-container {
      display: flex;
      flex-flow: column wrap;
      box-sizing: border-box;
      padding: 1em;

      // full view height - navbar height (dependeing on height) 1em + 1m for padding (on .home-icons-container + .widow-body)
      // and then 1em as a buffer/padding for this element.
      height: calc(100vh - 30px - 3em);
      @include sheight(medium) {
        height: calc(100vh - 40px - 3em);
      }
      @include sheight(large) {
        height: calc(100vh - 50px - 3em);
      }

      .home-icon {
        // center the figure/text in the container that scales
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 20%;
        @include swidth(large) {
          flex-basis: 33%;
        }
        
        &.selected  {

          img.desktop-icon-interactable {
            -moz-filter: grayscale(1);
            -ms-filter: grayscale(1);
            -o-filter: grayscale(1);
            filter: grayscale(1);
            outline: 1px grey dotted;
          }

          figcaption.desktop-icon-interactable {
            color: $offwhite;
            background-color: black;
            outline: 1px grey dotted;
          }
        }

        figure.desktop-icon {
          display: flex;
          flex-flow: column;

          .desktop-icon-interactable {
            &:hover {
              cursor: pointer;
            }
          }

          img {
            margin-left: auto;
            margin-right: auto;
            @include swidth(small) {
              height: 30px;
            }
            @include swidth(medium) {
              height: 60px;
            }
            @include swidth(large) {
              height: 80px;
            }
          }

          figcaption {
            padding-right: 1em;
            padding-left: 1em;
            @include swidth(small) {
              margin-top: 5px;
              max-width: 60px;
            }
            @include swidth(medium) {
              margin-top: 5px;
              max-width: 100px;
            }
            @include swidth(large) {
              margin-top: 5px;
              max-width: 130px;
            }

            background-color: $offwhite;
            color: black;
            
            pre {
              text-align: center;

              code {
                white-space: pre-wrap; /* css-3 */
                white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
                white-space: -pre-wrap; /* Opera 4-6 */
                white-space: -o-pre-wrap; /* Opera 7 */
                word-wrap: break-word; /* Internet Explorer 5.5+ */
              }
            }
          }
        }
      }
    }
  }

  $dialog_exit_button_width: 25px;
  $dialog_gutter_width: 10px;

  .dialog {
    background-color: $offwhite;
    color: black;
    border: 1px solid black;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    overflow: hidden;

    .dialog-menu-bar-container {
      // self-flex info to stick to top stick to top
      display: flex;
      flex: 0 1 auto;
      min-height: 20px;
      width: 100%;
      border: 2px solid black;
      background: -moz-radial-gradient(black 15%, transparent 16%),
        -moz-radial-gradient(black 15%, transparent 16%), $offwhite;
      background: -webkit-radial-gradient(black 15%, transparent 16%),
        -webkit-radial-gradient(black 15%, transparent 16%), $offwhite;
      background-position: 0 0, 10px 10px;
      -webkit-background-size: 5px 5px;
      -moz-background-size: 5px 5px;
      background-size: 5px 5px;

      .dialog-exit-button {
        flex: 0 1 auto;
        background: $offwhite;
        padding: 0;
        border-right: 2px double black;
        overflow: hidden;
        width: $dialog_exit_button_width;
        height: auto;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          -moz-filter: invert(1);
          -ms-filter: invert(1);
          -o-filter: invert(1);
          filter: invert(100%);
          cursor: pointer;
        }

        & > span {
          border: 2px solid black;
          padding-left: 0.1em;
          padding-right: 0.1em;
          margin: 1px;
          box-sizing: border-box;
          font-size: 120%;
          text-align: center;
          color: black;
          font-weight: 300;
          font-family: Arial, sans-serif;
        }
      }

      .dialog-menu-title {
        flex: 1 1 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: $dialog_exit_button_width; // for background to cover, width == height for square

        .dialog-title-text {
          background: $offwhite;
          padding-left: 1em;
          padding-right: 1em;
          position: relative;
          right: $dialog_exit_button_width;
        }
      }
    }

    .dialog-body {
      flex: 1 1 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      border-right: 2px solid black;
      border-bottom: 2px solid black;
      margin-right: $dialog_gutter_width;
      margin-bottom: $dialog_gutter_width;
    }

    &.error {
      .dialog-menu-bar-container {
        color: red;
      }

      .dialog-error-stacktrace {
        padding-top: 1em;
      }
    }

    .dialog-bottom-right-icon {
      display: block;
      position: absolute;
      // to bottom right of dialog
      right: -1px;
      bottom: -1px;
      background-color: $offwhite;
      // basic border
      border: solid black 2px;
      // design
      border-right: solid black 4px;
      border-bottom: solid black 4px;
      padding-left: 5px;
      padding-top: 5px;
      height: $dialog_gutter_width;
      width: $dialog_gutter_width;
      box-sizing: border-box;
    }
  }
}

$terminal_bg: #121212;
$terminal_text: #ecedf0;

#tui {
  background-color: $terminal_bg;
  color: $terminal_text;
  display: flex;
  flex-flow: column;
  height: 100%;

  #menu-bar {
    color: black;
    background-color: #d0d2d1;
    border-radius: 5px 5px 0px 0px;
  }

  code {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
  }

  pre {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 5%;
  }

  .disabled-message {
    font-size: 150%;
  }

  .dummy-error-text {
    color: red;
  }
}
