// Fonts to look into
// https://www.fontspace.com/press-start-2p-font-f11591
// http://openlab.ring.gr.jp/efont/shinonome/

$width-break-small: 360px;
$width-break-large: 1024px;

$height-break-small: 300px;
$height-break-large: 600px;

@mixin swidth($media) {
  @if $media == small {
    @media only screen and (max-width: $width-break-small) {
      @content;
    }
  } @else if $media == medium {
    @media only screen and (min-width: $width-break-small + 1) and (max-width: $width-break-large - 1) {
      @content;
    }
  } @else if $media == large {
    @media only screen and (min-width: $width-break-large) {
      @content;
    }
  }
}

@mixin sheight($media) {
  @if $media == small {
    @media only screen and (max-height: $height-break-small) {
      @content;
    }
  } @else if $media == medium {
    @media only screen and (min-height: $height-break-small + 1) and (max-height: $height-break-large - 1) {
      @content;
    }
  } @else if $media == large {
    @media only screen and (min-height: $height-break-large) {
      @content;
    }
  }
}

html {
  height: 100%;
}

body {
  height: 100%;
  max-height: 100%;
  float: left;
  width: 100%;
}

#root {
  box-sizing: border-box;
  height: 100%;
}

/* full screen */

$outer_border_width: 5px;
$inner_border_width: 2px;

$bg: #222;
$border_color: #eee;

.full-screen {
  margin: 0;
  box-sizing: border-box;
}

.root-el {
  display: flex;
  flex-flow: column;
  height: 100%;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.wrap-error {
  height: 100%;
  width: 100%;

  h3 {
    margin-top: 20%;
    text-align: center;
    vertical-align: center;
  }
}

/* shared menu bar styling */
#menu-bar {
  height: 30px;
  @include sheight(medium) {
    height: 40px;
  }
  @include sheight(large) {
    height: 50px;
  }

  /* self flex props */
  flex: 0 1 auto;

  /* for children */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-right: 2%;
  @include swidth(medium) {
    padding-right: 5%;
  }
  @include swidth(large) {
    padding-right: 10%;
  }
}

/* button which switches between GUI/TUI */
.swap-interface {
  margin-left: auto; /* move button to switch interface to top right */
}

.unlinkify {
  color: black;
  text-decoration: none;

  &:hover {
    color: black;
  }
}

.swap-button {
  font-family: inherit;
  font-weight: inherit;

  a {
    border: 3px solid $border_color;
    padding: 3px 10px;
    border-radius: 4px;
    color: $bg;
    text-decoration: none;

    &:hover {
      background-color: #eee;
      color: $bg;
    }
  }
}

/* div that encompasses the rest of the page (not the menu bar) */
#window-body {
  // grow rest of page
  flex: 1 1 auto;
}

#gui {
  background-color: $bg;
  color: $border_color;
  border: $outer_border_width solid black;

  a {
    color: #43e3af;
    &:hover {
      color: #5d6997;
    }
    &:visited {
      color: #2e9d59;
    }
    &:active {
      -moz-filter: invert(1);
      -ms-filter: invert(1);
      -o-filter: invert(1);
      filter: invert(1);
    }
  }

  #menu-bar {
    color: black;
    background-color: $border_color;
    border-bottom: $inner_border_width solid $border_color;
    align-items: center;
    padding-left: 2%;
    @include swidth(medium) {
      padding-left: 5%;
    }
    @include swidth(large) {
      padding-left: 10%;
    }

    .menu-toolbar-item {
      padding-left: 1%;
      padding-right: 1%;
      @include swidth(medium) {
        padding-left: 3%;
        padding-right: 3%;
      }
      @include swidth(large) {
        padding-left: 3%;
        padding-right: 3%;
      }

      &:hover {
        color: $border_color;
        transition-delay: 0.05s;
        transition-duration: 0s;
        transition-timing-function: linear;
        background-color: black;
        cursor: pointer;
      }

      & * {
        position: relative;
        top: -1px;
        color: inherit;
      }
    }

    .menu-bar-item {
      height: 30px;
      line-height: 30px;
      @include sheight(medium) {
        height: 40px;
        line-height: 40px;
      }
      @include sheight(large) {
        height: 50px;
        line-height: 50px;
      }
      box-sizing: border-box;
    }
  }

  #window-body {
    padding-left: 2%;
    padding-right: 2%;
    padding: 1em;

    #what-do-now {
      color: $border_color;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        margin: 1em;
        margin-left: 20%;
        margin-right: 20%;
      }
    }

    #home-icons-window-wrapper {
      // full view height - navbar height (dependeing on height) 1em + 1m for padding (on .home-icons-container + .widow-body)
      // and then 1em as a buffer/padding for this element.
      height: calc(100vh - 30px - 3em);
      @include sheight(medium) {
        height: calc(100vh - 40px - 3em);
      }
      @include sheight(large) {
        height: calc(100vh - 50px - 3em);
      }
    }

    #home-icons-container {
      display: inline-flex;
      box-sizing: border-box;
      flex-flow: column wrap;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 1em;
      height: 100%;

      .home-icon {
        // center the figure/text in the container that scales
        margin-top: 2em;
        margin-bottom: 2em;
        margin-left: auto;
        margin-right: auto;
        padding-right: 3em;
        display: flex;
        justify-content: center;
        align-items: center;
        // @include swidth(large) {
        //   flex-basis: 10%;
        // }

        &.selected {
          img.desktop-icon-interactable {
            -moz-filter: invert(1);
            -ms-filter: invert(1);
            -o-filter: invert(1);
            filter: invert(1);
            outline: 1px grey dotted;
          }

          figcaption.desktop-icon-interactable {
            color: $border_color;
            background-color: black;
            outline: 1px grey dotted;
          }
        }

        figure.desktop-icon {
          display: flex;
          flex-flow: column;

          /* if this is a link instead of onClick
           * inherit flex properties */
          & > a {
            display: inherit;
            flex-flow: inherit;
          }

          &:hover {
            cursor: pointer;
          }

          img {
            margin-left: auto;
            margin-right: auto;
            @include swidth(small) {
              height: 30px;
            }
            @include swidth(medium) {
              height: 60px;
            }
            @include swidth(large) {
              height: 80px;
            }
          }

          figcaption {
            padding-right: 1em;
            padding-left: 1em;
            @include swidth(small) {
              margin-top: 5px;
              max-width: 60px;
            }
            @include swidth(medium) {
              margin-top: 5px;
              max-width: 100px;
            }
            @include swidth(large) {
              margin-top: 5px;
              max-width: 130px;
            }

            background-color: $border_color;
            color: black;

            pre {
              text-align: center;

              code {
                white-space: pre-wrap; /* css-3 */
                white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
                white-space: -pre-wrap; /* Opera 4-6 */
                white-space: -o-pre-wrap; /* Opera 7 */
                word-wrap: break-word; /* Internet Explorer 5.5+ */
              }
            }
          }
        }
      }
    }
  }

  $dialog_exit_button_width: 25px;
  $dialog_gutter_width: 10px;

  .dialog {
    background-color: $bg;
    color: #eee;
    border: 2px solid $border_color;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;

    .dialog-menu-bar-container {
      // self-flex info to stick to top stick to top
      display: flex;
      flex: 0 1 auto;
      min-height: 20px;
      width: calc(100% - 10px - 2px); // dialog_gutter_width - border width
      border: 2px solid $border_color;
      border-top: none;
      border-left: none;
      background: -moz-radial-gradient(black 15%, transparent 16%),
        -moz-radial-gradient(black 15%, transparent 16%), $border_color;
      background: -webkit-radial-gradient(black 15%, transparent 16%),
        -webkit-radial-gradient(black 15%, transparent 16%), $border_color;
      background-position: 0 0, 10px 10px;
      -webkit-background-size: 5px 5px;
      -moz-background-size: 5px 5px;
      background-size: 5px 5px;

      .dialog-menu-button {
        background: $border_color;
        padding: 0;
        overflow: hidden;
        width: $dialog_exit_button_width;
        height: auto;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: 1px solid $bg;

        &:hover {
          -moz-filter: invert(100%);
          -ms-filter: invert(100%);
          -o-filter: invert(100%);
          filter: invert(100%);
          cursor: pointer;
        }

        &:active {
          -moz-filter: invert(80%);
          -ms-filter: invert(80%);
          -o-filter: invert(80%);
          filter: invert(80%);
        }

        /* menu button styling */
        & > span {
          margin: 1px;
          text-align: center;
          color: black;
          font-family: Arial, sans-serif;
        }
      }

      .dialog-exit-button {
        flex: 0 1 auto;

        & span {
          font-size: 120%;
        }
      }

      .dialog-down-button {
        margin-right: 0.1em;
      }

      .dialog-menu-title {
        flex: 1 1 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        .dialog-title-text {
          background: $border_color;
          color: black;
          padding-left: 1em;
          padding-right: 1em;
          right: $dialog_exit_button_width;
        }
      }
    }

    .dialog-body {
      flex: 1 1 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      border-right: 2px solid $border_color;
      border-bottom: 2px solid $border_color;
      margin-right: $dialog_gutter_width;
      margin-bottom: $dialog_gutter_width;

      overflow-y: hidden;

      &.dialog-message {
        height: 100%;
        overflow-x: auto;
        overflow-y: auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        p {
          padding-left: 1em;
          padding-right: 1em;
          box-sizing: border-box;
        }
      }

      .linklist div {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
      }

      .cubing-body {
        height: 100%;
        width: 100%;
        padding: 1em;
        box-sizing: border-box;
        p {
          padding: 0.25rem;
        }
        table {
          margin-top: 2em;
          margin-bottom: 2em;
          margin-left: auto;
          margin-right: auto;
          th,
          td {
            vertical-align: middle;
            border: solid 1px $border_color;
          }
          td,
          th {
            padding: 0.2rem;
            text-align: center;
          }
        }
      }

      .feed-body {
        height: 100%;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;

        a {
          width: 100%;
          display: block;

          .feed-item-row {
            width: 100%;
            min-height: 50px;
            outline: 1px solid lightgrey;
            max-height: 200px;
            display: flex;
            flex-flow: row nowrap;

            &:hover {
              background-color: darkslategray;
              transition: 0.05s;
            }

            .feed-item-image {
              width: 25%;
              overflow: hidden;
              display: flex;

              img {
                vertical-align: center;
                align-self: center;
                margin-left: auto;
                margin-right: auto;
              }
            }

            .feed-item-description {
              color: $border_color;
              width: 75%;
              display: flex;
              padding: 1.5em;
              box-sizing: border-box;
              flex-flow: column nowrap;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
    }

    &.error {
      .dialog-menu-bar-container {
        color: red;
      }

      .dialog-error-stacktrace {
        padding-top: 1em;
      }
    }

    .dialog-bottom-right-icon {
      display: block;
      position: absolute;
      // to bottom right of dialog
      right: -1px;
      bottom: -1px;
      background-color: $bg;
      // basic border
      border: solid $border_color 2px;
      // design
      border-right: solid $border_color 4px;
      border-bottom: solid $border_color 4px;
      padding-left: 5px;
      padding-top: 5px;
      height: $dialog_gutter_width;
      width: $dialog_gutter_width;
      box-sizing: border-box;
    }
  }
}

$terminal_bg: #121212;
$terminal_text: #ecedf0;

#tui {
  background-color: $terminal_bg;
  color: $terminal_text;
  display: flex;
  flex-flow: column;
  height: 100%;

  #menu-bar {
    color: black;
    background-color: #d0d2d1;
    border-radius: 5px 5px 0px 0px;
  }

  code {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
  }

  pre {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 5%;
  }

  .disabled-message {
    font-size: 150%;
  }

  .dummy-error-text {
    color: red;
  }
}
