 .dos-buttons {
     display: table;
     border-spacing: 7.5px;
 }
 .table-row {
     display: table-row;
 }
 .table-row:active {
     filter: invert(1);
 }
 .table-cell {
     display: table-cell;
 }
 .dos-buttons a {
     color: black;
     text-decoration: none;
 }
 .dos-buttons .table-cell  {
     border-left: solid 7px white;
     border-top: solid 7px white;
     border-bottom: solid 7px #262626;
     border-right: solid 7px #262626;
     padding: 0.3em 1.2em;
     background: lightgrey;
 }
 .dos-buttons .table-cell:hover {
     background: darkgrey;
     border-left: solid 7px lightgrey;
     border-top: solid 7px lightgrey;
     border-bottom: solid 7px #3b3a3a;
     border-right: solid 7px #3b3a3a;
 }
