/* star animation keyframes for home page */

@keyframes kf1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes kf1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes kf1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes kf1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.star-anim-1 {
  -webkit-animation: kf1 10s infinite;
  -moz-animation: kf1 10s infinite;
  -o-animation: kf1 10s infinite;
  animation: kf1 10s infinite;
}

@keyframes kf2 {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes kf2 {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes kf2 {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes kf2 {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
.star-anim-2 {
  -webkit-animation: kf2 10s infinite;
  -moz-animation: kf2 10s infinite;
  -o-animation: kf2 10s infinite;
  animation: kf2 10s infinite;
}

@keyframes kf3 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.8;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
@-o-keyframes kf3 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.8;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
@-moz-keyframes kf3 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.8;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0.05;
  }
}
@-webkit-keyframes kf3 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.8;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
.star-anim-3 {
  -webkit-animation: kf3 10s infinite;
  -moz-animation: kf3 10s infinite;
  -o-animation: kf3 10s infinite;
  animation: kf3 10s infinite;
}

@keyframes kf4 {
  0% {
    opacity: 0;
  }
  5% {
    opactiy: 0.9;
  }
  40% {
    opactiy: 0;
  }
  60% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes kf4 {
  0% {
    opacity: 0;
  }
  5% {
    opactiy: 0.9;
  }
  40% {
    opactiy: 0;
  }
  60% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes kf4 {
  0% {
    opacity: 0;
  }
  5% {
    opactiy: 0.9;
  }
  40% {
    opactiy: 0;
  }
  60% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes kf4 {
  0% {
    opacity: 0;
  }
  5% {
    opactiy: 0.9;
  }
  40% {
    opactiy: 0;
  }
  60% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
.star-anim-4 {
  -webkit-animation: kf4 10s infinite;
  -moz-animation: kf4 10s infinite;
  -o-animation: kf4 10s infinite;
  animation: kf4 10s infinite;
}

@keyframes kf5 {
  0% {
    opacity: 0;
  }
  5% {
    opactiy: 0.9;
  }
  90% {
    opactity: 0.9;
  }
  95% {
    opactity: 0.4;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes kf5 {
  0% {
    opacity: 0;
  }
  5% {
    opactiy: 0.9;
  }
  90% {
    opactity: 0.9;
  }
  95% {
    opactity: 0.4;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes kf5 {
  0% {
    opacity: 0;
  }
  5% {
    opactiy: 0.9;
  }
  90% {
    opactity: 0.9;
  }
  95% {
    opactity: 0.4;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes kf5 {
  0% {
    opacity: 0;
  }
  5% {
    opactiy: 0.9;
  }
  90% {
    opactity: 0.9;
  }
  95% {
    opactity: 0.4;
  }
  100% {
    opacity: 0;
  }
}
.star-anim-5 {
  -webkit-animation: kf5 10s infinite;
  -moz-animation: kf5 10s infinite;
  -o-animation: kf5 10s infinite;
  animation: kf5 10s infinite;
}
