<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="apple-touch-icon" sizes="180x180" href=<%= Routes.static_path(@conn, "/apple-touch-icon.png") %>>
    <link rel="icon" type="image/png" sizes="32x32" href=<%= Routes.static_path(@conn, "/favicon-32x32.png") %>>
    <link rel="icon" type="image/png" sizes="16x16" href=<%= Routes.static_path(@conn, "/favicon-16x16.png") %>>
    <link rel="manifest" href=<%= Routes.static_path(@conn, "/site.webmanifest") %>>
    <title><%= @data.title %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <main>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
